<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.claim.mapper.ClaimMapper">
  <select id="statusCheck" parameterType="com.plateer.ec1.claim.vo.OrdClaimInfoVo" resultType="com.plateer.ec1.claim.vo.ClaimStatusVo">
    with goods_info as (
    <foreach collection="list" item="item" separator="union all">
      select #{item.ordGoodsNo} as goods_no
          , #{item.ordItemNo} as item_no
          , #{item.ordNo} as ord_no
          , #{item.dvGrpNo} as dv_grp_no
    </foreach>
    )
    select
        oci.ord_prgs_scd
        , oci.ord_no
        , oci.ord_goods_no
        , oci.ord_item_no
        , oci.dv_grp_no
    from
        op_clm_info oci
        inner join goods_info gi
        on oci.ord_no = gi.ord_no
        and oci.ord_goods_no = gi.goods_no
        and oci.ord_item_no = gi.item_no
        and oci.dv_grp_no = gi.dv_grp_no
    where
        oci.ord_clm_tp_cd = 'O'
        and oci.cncl_cnt <![CDATA[ < ]]> 1
        and oci.rtgs_cnt <![CDATA[ < ]]> 1
  </select>

  <select id="selectClaimNo" resultType="string">
    select nextval('nextval_clm_no') as claim_no
  </select>

  <resultMap id="orgClaimInfo" type="com.plateer.ec1.claim.vo.ClaimProcessVo">
    <result column="ord_no" property="ordNo"/>
    <collection property="opClmInfoModels" ofType="com.plateer.ec1.common.model.order.OpClmInfoModel" autoMapping="true" javaType="List" select="selectClaimInfo" column="ordNo=ord_no"/>
    <collection property="opOrdCostInfoModels" ofType="com.plateer.ec1.common.model.order.OpOrdCostInfoModel" autoMapping="true" javaType="List" select="selectCostInfo" column="ordNo=ord_no"/>
    <collection property="opOrdBnfRelInfoModels" ofType="com.plateer.ec1.common.model.order.OpOrdBnfRelInfoModel" autoMapping="true" javaType="List" select="selectOrdBnfRelInfo" column="ordNo=ord_no"/>
    <collection property="opOrdBnfInfoModels" ofType="com.plateer.ec1.common.model.order.OpOrdBnfInfoModel" autoMapping="true" javaType="List" select="selectBnfInfo" column="ordNo=ord_no"/>
  </resultMap>

  <select id="selectBnfInfo" resultType="com.plateer.ec1.common.model.order.OpOrdBnfInfoModel" parameterType="com.plateer.ec1.claim.vo.ClaimProcessVo">
    select
        oobi.*
        , '' as ord_no
    from op_ord_bnf_info oobi
        inner join op_ord_bnf_rel_info oobri
        on oobi.ord_bnf_no = oobri.ord_bnf_no
        and oobri.ord_no = #{ordNo}
  </select>

  <select id="selectCostInfo" resultType="com.plateer.ec1.common.model.order.OpOrdCostInfoModel" parameterType="com.plateer.ec1.claim.vo.ClaimProcessVo">
    select
        ooci.*
    from op_ord_cost_info ooci
    where
        ooci.ord_no = #{ordNo}
        and ooci.aply_ccd = '10';
  </select>

  <select id="selectOrdBnfRelInfo" resultType="com.plateer.ec1.common.model.order.OpOrdBnfRelInfoModel" parameterType="com.plateer.ec1.claim.vo.ClaimProcessVo">
    select
        oobri.*
    from
      op_ord_bnf_rel_info oobri
    where
        oobri.ord_no = #{ordNo}
        and aply_cncl_ccd = '10'
  </select>

  <select id="selectClaimInfo" parameterType="com.plateer.ec1.claim.vo.ClaimProcessVo" resultType="com.plateer.ec1.common.model.order.OpClmInfoModel">
    select
        oci.*
    from
        op_clm_info oci
    where
      oci.ord_no = #{ordNo}
      and oci.ord_clm_tp_cd = 'O'
      and oci.cncl_cnt = 0
      and oci.rtgs_cnt = 0
  </select>

  <select id="selectClaimProcess" resultMap="orgClaimInfo" parameterType="string">
    select
        #{ordNo} as ord_no
  </select>

  <select id="selectClaim" resultType="com.plateer.ec1.common.model.order.OpClmInfoModel" parameterType="string">
    select
        oci.*
    from
        op_clm_info oci
    where
        oci.ord_no = #{ordNo}
        and oci.ord_clm_tp_cd = 'C'
        and oci.ord_prgs_scd = '20'
  </select>

  <select id="amountValid" resultType="boolean" parameterType="string">
    select case when (total_price + total_dvp_price - coalesce(total_bnf_price, 0) = opi.pay_amt) then 1
                else 0 end payment_check
    from (
           select sum(price.ord_price) as total_price,
                  sum(price.dvp_price) as total_dvp_price,
                  sum(bnf_price) as total_bnf_price
           from
             (select
                oci.ord_amt * oci.ord_cnt as ord_price,
                ooci.aply_dv_amt as dvp_price,
                oobri.aply_amt as bnf_price
              from
                op_clm_info oci
                  inner join op_ord_cost_info ooci
                             on oci.ord_no = ooci.ord_no
                               and oci.dv_grp_no = ooci.dv_grp_no
                  left outer join op_ord_bnf_rel_info oobri
                                  on oci.ord_no = oobri.ord_no
                                    and oci.ord_seq = oobri.ord_seq
              where
                oci.ord_no = #{clmNo}
             ) price
         ) payment ,  op_pay_info opi
    where
      opi.ord_no = #{clmNo}
  </select>
</mapper>