<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plateer.ec1.promotion.mapper.PromotionMapper">
    <select id="selectDownloadAvailableCoupon" resultType="long" parameterType="map">
        select
            ccb.prm_no
        from cc_cpn_base ccb
        where
              prm_no = #{prmNo}
              and psn_dwl_psb_cnt <![CDATA[ > ]]>
                (
                select
                    count(1) as cnt
                from cc_cpn_issue cpi
                where
                    cpi.prm_no = #{prmNo}
                    and cpi.mbr_no = #{mbrNo}
                )
              and ccb.dwl_psb_cnt <![CDATA[ > ]]>
                (
                    select count('1')
                    from cc_cpn_issue cpi
                    where
                        cpi.prm_no = #{prmNo}
                )
    </select>

    <select id="selectAvailableCouponList" resultType="com.plateer.ec1.promotion.vo.PromotionVo" parameterType="string">
        select
            cpb.prm_no,
            cpb.prm_nm
        from
            cc_prm_base cpb
                inner join
            cc_cpn_base ccb
            on cpb.prm_no = ccb.prm_no
        where
          ccb.psn_dwl_psb_cnt <![CDATA[ > ]]> 0
          and ccb.dwl_psb_cnt <![CDATA[ > ]]> (
                select count('1')
                from cc_cpn_issue cpi
                where
                    cpi.prm_no = ccb.prm_no
                )
          and ccb.dwl_psb_cnt <![CDATA[ > ]]>
                (
                  select count('1')
                  from cc_cpn_issue cpi
                  where
                      cpi.mbr_no = #{mbrNo}
                    and cpi.prm_no = ccb.prm_no
                )
            and ((  ccb.dwl_priod_ccd = '10'
                    and current_date between ccb.dwl_avl_strt_dd::date and ccb.dwl_avl_end_dd::date)
                or (
                    ccb.dwl_priod_ccd = '20'
                    and current_date between ccb.sys_reg_dtime::date and ccb.sys_reg_dtime::date + ccb.dwl_std_dd
                ))
            and ((  cpb.prm_priod_ccd = '10'
                    and current_date between cpb.prm_strt_dt::date and cpb.prm_end_dt::date)
                or (
                    cpb.prm_priod_ccd = '20'
                    and current_date between cpb.sys_reg_dtime::date and cpb.sys_reg_dtime::date + cpb.prm_std_dd
                ))
    </select>

    <select id="selectDownloadCouponList" parameterType="string" resultType="com.plateer.ec1.promotion.vo.PromotionVo">
        select
            cpb.prm_no,
            cpb.prm_nm
        from
            cc_prm_base cpb
            inner join (
                select
                    cpi.prm_no
                from cc_cpn_issue cpi
                where
                    mbr_no = #{mbrNo}
            ) cci
            on cpb.prm_no = cci.prm_no
    </select>
</mapper>