<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plateer.ec1.promotion.mapper.PromotionTrxMapper">
    <!-- 쿠폰 다운로드 -->
    <insert id="insertDownloadCoupon" parameterType="com.plateer.ec1.promotion.vo.CouponRequestVo">
        insert into cc_cpn_issue(
            /* PromotionTrxMapper.insertDownloadCoupon */
            org_cpn_iss_no,
            mbr_no,
            prm_no,
            use_strt_dtime,
            use_end_dtime,
            sys_reg_dtime,
            sys_regr_id,
            sys_mod_dtime,
            sys_modr_id
        ) VALUES (
            #{orgCpnIssNo},
            #{mbrNo},
            #{prmNo},
            #{useStrtDtime},
            #{useEndDtime},
            now(),
            #{sysRegrId},
            now(),
            #{sysModrId}
        )
    </insert>

    <!-- 포인트 사용 취소 등록 -->
    <insert id="useCancelPoint" parameterType="com.plateer.ec1.common.model.promotion.CcMbrPntModel">
        insert into cc_mbr_pnt(
            /* PromotionTrxMapper.useCancelPoint */
            mbr_no,
            sv_use_ccd,
            sv_use_amt,
            pnt_blc,
            ord_no,
            pay_no,
            sys_reg_dtime,
            sys_regr_id,
            sys_mod_dtime,
            sys_modr_id
        ) VALUES (
          #{mbrNo}
          , #{svUseCcd}
          , #{svUseAmt}
          , #{pntBal}
          , #{ordNo}
          , #{payNo}
          , now()
          , #{sysRegrId}
          , now()
          , #{sysModrId}
        )
    </insert>
</mapper>