<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plateer.ec1.promotion.mapper.PromotionMapper">
    <sql id="selectCouponQuery">
      select
        /* PromotionMapper.selectAvailableCoupon */
        cpb.prm_no
      from
        cc_prm_base cpb
          inner join
        cc_cpn_base ccb
        on cpb.prm_no = ccb.prm_no
      where
        cpb.prm_no = #{prmNo}
        and (current_date between ccb.dwl_avl_strt_dd::date and ccb.dwl_avl_end_dd::date)
    </sql>

    <!-- 다운로드 가능한 쿠폰 확인 -->
    <select id="selectAvailableCoupon" resultType="long" parameterType="map">
        <include refid="selectCouponQuery"></include>
          and ccb.psn_dwl_psb_cnt <![CDATA[ >= ]]> 1
          and ccb.dwl_psb_cnt <![CDATA[ >= ]]> 1
          and ccb.dwl_psb_cnt <![CDATA[ > ]]> (
                select count('1')
                from cc_cpn_issue cpi
                where
                    cpi.prm_no = ccb.prm_no
                    and cpi.org_cpn_iss_no is null
                )
          and ccb.psn_dwl_psb_cnt <![CDATA[ > ]]>
                (
                  select count('1')
                  from cc_cpn_issue cpi
                  where
                      cpi.mbr_no = #{mbrNo}
                      and cpi.prm_no = ccb.prm_no
                      and cpi.org_cpn_iss_no is null
                )
        union all
      <include refid="selectCouponQuery"></include>
          and ccb.psn_dwl_psb_cnt = 0
          and ccb.dwl_psb_cnt = 0
    </select>

    <!-- 다운로드 받은 쿠폰 목록 -->
    <select id="selectDownloadCouponList" parameterType="string" resultType="com.plateer.ec1.promotion.vo.PromotionVo">
        select
            /* PromotionMapper.selectDownloadCouponList */
            cpb.prm_no,
            cpb.prm_nm
        from
            cc_prm_base cpb
            inner join (
                select
                    cpi.prm_no
                from cc_cpn_issue cpi
                where
                    mbr_no = #{mbrNo}
            ) cci
            on cpb.prm_no = cci.prm_no
    </select>

    <!-- 복원 가능한 쿠폰인지 확인 -->
    <select id="selectAvailableRestoreCoupon" parameterType="long" resultType="long">
        select
            /* PromotionMapper.selectAvailableRestoreCoupon */
               cpb.prm_no
        from cc_prm_base cpb
        where
            cpb.prm_no = #{prmNo}
    </select>
</mapper>