<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.ec1.order.mapper.validator.OrderValidatiorMapper">

  <select id="selectGoodsBase" parameterType="list" resultType="com.plateer.ec1.order.vo.OrderProductViewVo">
    with goods_info as (
    <foreach collection="list" item="item" separator="union all">
      select #{item.ordGoodsNo} as goods_no
            , #{item.ordItemNo} as item_no
            , #{item.ordCnt} as ord_cnt
    </foreach>
    )
    select
           pgb.goods_nm,
           pgb.goods_tp_cd,
           pgb.sale_prc,
           pgb.prm_prc,
           pgb.prgs_stat_cd,
           pgb.goods_dlv_tp_cd,
           pgb.goods_no,
           pii.item_no,
           pii.item_nm,
           gi.ord_cnt
    from
        pr_goods_base pgb
        inner join pr_item_info pii
        on pgb.goods_no = pii.goods_no
        inner join goods_info gi
        on pii.goods_no = gi.goods_no
        and pii.item_no = gi.item_no
  </select>

  <select id="paymentCheck" resultType="boolean" parameterType="string">
    select case when (total_price + total_dvp_price - coalesce(total_bnf_price, 0) = opi.pay_amt) then 1
                else 0 end payment_check
    from (
           select sum(price.ord_price) as total_price,
                  sum(price.dvp_price) as total_dvp_price,
                  sum(bnf_price) as total_bnf_price
           from
             (select
                oci.ord_amt * oci.ord_cnt as ord_price,
                ooci.aply_dv_amt as dvp_price,
                oobri.aply_amt as bnf_price
              from
                op_clm_info oci
                  inner join op_ord_cost_info ooci
                             on oci.ord_no = ooci.ord_no
                               and oci.dv_grp_no = ooci.dv_grp_no
                  left outer join op_ord_bnf_rel_info oobri
                             on oci.ord_no = oobri.ord_no
                               and oci.ord_seq = oobri.ord_seq
                where
                    oci.ord_no = #{ordNo}
                 ) price
         ) payment ,  op_pay_info opi
    where
        opi.ord_no = #{ordNo}
  </select><!-- 주문 테이블도 필요 -->
</mapper>